@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

a {
  color: blue;
}


body {
  margin: 0;
  height: 2000px;
  background: linear-gradient(141deg, #0f9fb8 0%, #1fdbc2 25%, #2ce874 80%);
  color: rgb(0, 0, 0);
}

.sidebar {
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: limegreen;
  position: fixed;
  height: 100%;
  overflow: auto;
  outline-style: double;
  outline-color: black;
  outline-width: thick;
  font-size: 20px;
}

.sidebar a {
  display: block;
  color: black;
  padding: 16px;
  text-decoration: none;
}

.sidebar a.active {
  background-color: green;
  color: white;
}

.sidebar a:hover:not(.active) {
  background-color: #555;
  color: white;
}

.collapsible {
  background-color: green;
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline-style: double;
  outline-color: black;
  outline-width: thick;
  font-size: 25px;
  margin: 10px 0;
}

.active,
.collapsible:hover {
  background-color: #ccc;
}

.colcontent {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: #f1f1f1;
}

div.content { 
  font-family: 'Poppins', sans-serif;
  margin: 0 0 200px 200px;
  padding: 10px 200px;
  height: 100%;
  font-size: 25px;
}

table {
  border: 2px solid black;
  border-collapse: collapse;
  background-color: white;
}
table th,
td {
  border: 2px solid black;
}

@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidebar a {
    float: left;
  }
  div.content {
    margin-left: 0;
  }
}

@media screen and (max-width: 400px) {
  .sidebar a {
    text-align: center;
    float: none;
  }
}
